




#logo img{
	width: 50px;
	height: 50px;

}

.banner{
	color: grey;
	font-family: arial;
	font-size: 20px;
	display: inline-block;
	left: 162px;
    position: relative;

} 

.buscador{
 	border:1px solid gray;
 	position: relative;
 	left: 448px;
    bottom: 19px;
}

.Texto{
	position: relative;
    bottom: 501px;
    left: 852px;
    color: white;
    font-size: 18px;
    

}
ol li{
	list-style: none;
}
.verde{
	border: 2px solid #51ad50;
    color:#51ad50;
    margin-left: 3px;
    padding-left: 5px;
    border-radius: 5px;
    width: 85px;
    height: 37px;
    text-align: center;
    padding-top: 8px;
}
.dont{
	position: relative;
    left: 107px;
    bottom: 25px;
}
.derecha{
	position: relative;
	left: 156px;
    bottom: 64px;
}

.gran{
	position: relative;
	
}

.contenidoDos{
	background-color: yellow;
}

.Doce{
	padding-top: 10px;
	padding-bottom: 10px;
}
.log{
	width: 60px;
	height: 60px;
}
.watch{
	width: 156px;
    height: 50px;
    background-color: orange;
    border-radius: 5px;
    padding-top: 16px;
    text-align: center;
    font-size: 15px;
	margin-bottom: 12px;
}
.book{
	width: 156px;
    height: 50px;
    background-color:#dc830a;
    border-radius: 5px;
    padding-top: 16px;
    text-align: center;
    font-size: 15px;
}

h4{
    color: 
}